* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}

/* Navbar style */

nav {
  position: fixed;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 12vh;
  padding: 2vw 10vw;
  justify-content: space-between;
  /* background: yellowgreen; */
}
nav h1 {
  font-size: 1.5vw;
}
.nav-part2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
}
.nav-part2 h4 {
  font-size: 0.7vw;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2.4vw;
}
.nav-part2 h5 {
  margin-bottom: 1vw;
  /* background: red; */
  display: none;
  /* background: red; */
  overflow: hidden;
}
.nav-part2 h5 span {
  font-size: 0.8vw;
  font-weight: 500;
  transform: translateY(25px);
  display: inline-block;
}
nav button {
  background: #0da34e;
  display: flex;
  align-items: center;
  padding: 12px 14px;
  border-radius: 50px;
  border: none;
  font-size: 0.85vw;
  text-transform: uppercase;
  font-weight: 700;
}
nav button svg {
  height: 0.85vw;
  margin-left: 1vw;
}

#nav-bottom {
  width: 80%;
  height: 0vh;
  background: #111;
  position: absolute;
  top: 100%;
  z-index: 9;
  border-bottom: 1px solid #ddd;
}

#page1 {
  width: 100%;
  height: 100vh;
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page1 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 7vw;
}
#page1 h1 svg {
  height: 5vw;
  width: 5vw;
  background: #0da34e;
  border-radius: 50%;
}
#page1 p {
  text-align: center;
  font-weight: 400;
  margin-top: 3vh;
}
#page1-something {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1-something h4 {
  font-weight: 400;
  font-size: 1vw;
  margin-top: 0.5vw;
  text-transform: lowercase;
  padding: 5px 12px;
  border: 1px solid #d6c8c8;
  border-radius: 50px;
}
#page1-something h4:nth-last-child(2) {
  border: none;
  padding: 2px;
}
#page2 {
  width: 100%;
  height: 100vh;
  background: #111;
}
